{% extends "base.html" %}
{{page_title}}
{{page_css}}
{% block content %}
		<div id="navbar">
			<ul class="tabs">
				<li><a href="/kotw/hq/">Command Center</a></li>
				<li><a href="/kotw/explore/">Explore</a></li>
				<li><a href="/kotw/build/">Build</a></li>
				<li><a href="/kotw/military/">Military</a></li>
				<li><a href="/kotw/research/">Research</a></li>
				<li><a href="/kotw/attack/">Attack</a></li>
				<li><a href="/kotw/ranks/">Ranking</a></li>
				<li><a href="/kotw/logout/">Logout</a></li>
			</ul>
		</div>
		<div id="information">
			<table border="1">
				<tr>
					<th>Gold</th>
					<th>Food</th>
					<th>Oil</th>
					<th>Population</th>
					<th>Land</th>
				</tr>
				<tr>
					<td>{{country_gold}}</td>
					<td>{{country_food}}</td>
					<td>{{country_oil}}</td>
					<td>{{country_pop}}</td>
					<td>{{country_land}}</td>
				</tr>
			</table>
		</div>
		<div id="content">
			<br/>It costs {{cpp}} per point of knowledge.
			<br/>You have enough to research {{max_techs}} points of tech.
			<br/>
			<br/><form action="/kotw/research/" method="POST">{% csrf_token %}
				<table border="1">
					<tr>
						<th>Technology</th><th>You Know</th><th>Current Effect</th><th>Research</th>
					</tr>
					<tr>
						<td>Military</td><td>{{military}}</td><td>{{military_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_mil}}"/></td>
					</tr>
					<tr>
						<td>Medical</td><td>{{medical}}</td><td>{{medical_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_med}}"/></td>
					</tr>
					<tr>
						<td>Economics</td><td>{{economics}}</td><td>{{economics_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_econ}}"/></td>
					</tr>
					<tr>
						<td>Residential</td><td>{{residential}}</td><td>{{residential_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_res}}"/></td>
					</tr>
					<tr>
						<td>Geography</td><td>{{geography}}</td><td>{{geography_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_geo}}"/></td>
					</tr>
					<tr>
						<td>Weapons</td><td>{{weapons}}</td><td>{{weapons_effect}}</td><td><input type="number" name="techs" min="0" value="0" max="{{max_weap}}"/></td>
					</tr>
				</table>
				{{msgs}}
				<br/><input type="submit" value="Research"/>
			</form>
		</div>
{% endblock %}
