{% extends "base.html" %}
{{page_title}}
{% block page_js %}
<script type="text/javascript">
    function updateOff(){
        offField = document.getElementById("off");
        var troops = new Number;
        troops = document.getElementById("troops").value;
        var jets = new Number;
        jets = document.getElementById("jets").value;
        var tanks = new Number;
        tanks = document.getElementById("tanks").value;
        offField.value=parseInt(troops)+(parseInt(jets)*4)+(parseInt(tanks)*6);
    }
</script>
{% endblock %}
{{page_css}}
{% block content %}
<div id="navbar">
    <ul class="tabs">
        <li><a href="/kotw/hq/">Command Center</a></li>
        <li><a href="/kotw/explore/">Explore</a></li>
        <li><a href="/kotw/build/">Build</a></li>
        <li><a href="/kotw/military/">Military</a></li>
        <li><a href="/kotw/research/">Research</a></li>
        <li><a href="/kotw/attack/">Attack</a></li>
        <li><a href="/kotw/ranks/">Ranking</a></li>
        <li><a href="/kotw/logout/">Logout</a></li>
    </ul>
</div>

<div id="information">
    <table border="1">
        <tr>
            <th>Gold</th>
            <th>Food</th>
            <th>Oil</th>
            <th>Population</th>
            <th>Land</th>
        </tr>
        <tr>
            <td>{{country_money}}</td>
            <td>{{country_food}}</td>
            <td>{{country_oil}}</td>
            <td>{{country_pop}}</td>
            <td>{{country_land}}</td>
        </tr>
    </table>
</div>

<div id="content">
    {{attack_output}}
    <form action="/kotw/attack/" method="POST">{% csrf_token %}
        <table>
            <tr>
                <td>Target Country (off,def): </td>
                <td>
                    <select name="target">
                    {% for id,t,off,def in targets %}
                        <option value="{{id}}">{{t}} ({{off}}, {{def}})</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Select Attack Type:</td>
                <td>
                    <select name="attack" id="attack">
                        <option value="S" selected="selected">Basic Strike</option>
                        <option value="P" disabled>Planned Assault</option>
                        <option value="G" disabled>Guerilla Tactics</option>
                        <option value="B" disabled>Bombing Run</option>
                        <option value="A" disabled>Artillary Strike</option>
                    </select>
                </td>
                <br/>At the current time, only Basic Strikes are enabled.
            </tr>
        </table>
        <table border="1">
            <tr>
                <th>Unit (off/def)</th>
                <th>Available</th>
                <th>Fuel Cost</th>
                <th>Max Sendable</th>
                <th>Send</th>
            </tr>
            <tr>
                <td>Troops ({{troops_off}}, {{troops_def}})</td>
                <td>{{country_troops}}</td>
                <td>{{troop_fuel}}</td>
                <td>{{max_troop}}</td>
                <td><input type="number" min="0" max="{{max_troop}}" value="0" id="troops" name="army" onchange="updateOff()"/></td>
            </tr>
            <tr>
                <td>Jets ({{jets_off}}, {{jets_def}})</td>
                <td>{{country_jets}}</td>
                <td>{{jet_fuel}}</td>
                <td>{{max_jet}}</td>
                <td><input type="number" min="0" max="{{max_jet}}" value="0" id="jets" name="army" onchange="updateOff()"/></td>
            </tr>
            <tr>
                <td>Tanks ({{tanks_off}}, {{tanks_def}})</td>
                <td>{{country_tanks}}</td>
                <td>{{tank_fuel}}</td>
                <td>{{max_tank}}</td>
                <td><input type="number" min="0" max="{{max_tank}}" value="0" id="tanks" name="army" onchange="updateOff()"/></td>
            </tr>
        </table>
        <table>
            <tr><td>Your Raw Offense</td><td><input type="text" id="off" disabled="true"/ value="0"></td></tr>
        </table>
        <input type="submit", value="Send Attack"/>
    </form>
</div>
{% endblock %}
